/* features.css */

/* Estilos padrão para tema claro */
.light-theme #features {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px auto;
}

.a-box {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.a-b-text h2 {
    color: red; /* Títulos vermelhos */
}

.a-b-text p {
    color: black; /* Textos pretos */
}

.light-theme #features h1{
    color: black;
}